
.filter{
  position: relative;
  .filter-list{
    height: 59px;
    border-bottom: 1px solid #989898;
    .filter-item{
      color: #555;
      .iconfont{
        font-size: 24px;
      }
    }
  }
  .mask{
    position: fixed;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 100px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
  }
  .filter-mask{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    
  }
}


@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJkAAsAAAAABhQAAAIYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPwE2AiQDCAsGAAQgBYRtBzQbaQXIHpKkYVnWxtwISABAQjx8jbX3d/dEwZNqpHsWrTQS0y0kEsQkpdM9ab7BmzumX2QTP7dzQTOOpAAL7G/qTGXaNUx9IJxwQl8iO6yeojxs9XkupzeBDmR+oHNdrU1jTewd9QKMAynQPTCKrIQybhi74AU+JtA0gYC7148v0FTYqwJxGToDzUJKUVi1LlQbDhbxoKae7tIG3Effjy/r0SSpZHbfwcWVD6evM6cuL3tLeA8IaRDQ8Qoy1gCFOGks7akIxmHNUtUMcKzu4HXW6wVBcVSfYH+d3dkGY7AcvM68lQIkeKypMmqTjhH5tk9b//7jxwSn8Gf5vLwPIlj7vnz+Ghz+NzsFvOSrVeQthkWA+jrh4N3VgUPF0O1AKpra6EzmCRKamugBjg06pw6cqBbqRiZEasYzZHVzZGHXUNGyjqq6DTSt0sdbhowqojSwYgEI/VYkXU/I+u1kYQ9UjLpQ1R8VNJ3F5MKWhQjbF0JGyUfzj9njzLohbcfdT+SKxEhej/g3kjzMopyvlqs3lJEssWX6ceuzWgzCKSrwHCUJYy8ckafzpLrY5yu26U1zyym07RDEUMSHjH8o87CMDcarduXzT4hTSBjSYaor3xCRC2dHEiMGkDf2bJDpUV6Z/HDWzZSFAsFSSIF5JJFgqG+eFyEeNZcmFBb2cWdUGGqfb+9M/+4ENNmeFE591rwKTeQ2ZcoFAAAA') format('woff2'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e615";
}