
.sign-in{
  .sign-container{
    padding: 99px 88px 0;
    .sign-form{
      padding: 20px 0;
    }
    .link-wrap{
      span{
        color: #9A9A9A;
        font-size: 24px;
        text-decoration: underline;
      }
    }
  }
}